* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

@font-face {
	font-family: 'Circe';
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/CRC55.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Circe Bold';
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/CRC65.woff') format('woff');
	font-display: swap;
}

html {
	line-height: 1.15;
}
body {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
		sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #fce5d8;
	cursor: pointer;
}

html,
body,
button {
	font-family: 'Circe', sans-serif;
	font-size: 16px;
}

button {
	text-transform: none;
	text-align: center;
	padding: 0;
	border: none;
	font: inherit;
	background: none;
	font-size: 17px;
	cursor: pointer;
	outline: none;
}

.form {
	background: #2c1138;
	min-height: 100vh;
	letter-spacing: 0;
	display: flex;
	flex-direction: column;
}

.header {
	height: 10vh;
	padding: 0 60px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1444px;
	width: 100%;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	.header {
		padding: 0 36px;
	}
}

@media screen and (max-height: 479px) {
	.header {
		padding: 36px;
	}
}

.logo {
	margin-top: 7px;
}

.logo img {
	width: 128px;
}

@media screen and (max-width: 479px) {
	.logo img {
		width: 72px;
	}
}

.instagram__link {
	z-index: 1;
}

.form__body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 100%;
	max-width: 1444px;
	margin: 0 auto;
}

@media screen and (max-height: 479px) {
	.form__body {
		height: 100%;
	}
}

.form__content__container {
	padding: 16px 32px;
	position: relative;
	z-index: 1;
}

@media screen and (max-width: 479px) {
	.form__content__container {
		padding: 12px 24px;
	}
}

#form {
	background-color: #fff;
	border-radius: 24px;
	color: #2c1138;
	margin: auto;
	max-width: 440px;
	padding: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media screen and (max-width: 479px) {
	#form {
		padding: 32px;
	}
}

@media screen and (max-width: 321px) {
	#form {
		padding: 24px;
	}
}

@media screen and (max-height: 375px) {
	#form {
		padding: 32px;
	}
}

.form__content__description {
	font-size: 24px;
	color: #24132b;
	margin-bottom: 1rem;
}

@media screen and (max-width: 479px) {
	.form__content__description {
		font-size: 18px;
	}
}

@media screen and (max-height: 375px) {
	.form__content__description {
		font-size: 18px;
	}
}

.form__content__note {
	color: #9d90a2;
}

@media screen and (max-width: 479px) {
	.form__content__note {
		font-size: 14px;
	}
}

@media screen and (max-height: 375px) {
	.form__content__note {
		font-size: 14px;
	}
}

.form__field {
	margin: 1.75rem 0 1rem 0;
	width: 100%;
}

.form__input {
	width: 100%;
	padding: 0 10px;
	height: 52px;
	line-height: 16px;
	border-radius: 16px;
	border: 1px solid #9d90a2;
	outline: none;
	text-align: center;
	font-family: 'Circe', sans-serif;
	font-size: 17px;
	color: #24132b;
	transition: all 0.1s linear;
}

.form__input:hover {
	border-color: #cec7d1;
	background-color: #f8f7f8;
}

.form__input:focus {
	box-shadow: 0 0 0 4px rgba(127, 103, 138, 0.125);
	background-color: #fff;
	border-color: #8b50e8;
}

@media screen and (max-width: 479px) {
	.form__input {
		font-size: 14px;
	}
}

@media screen and (max-height: 375px) {
	.form__input {
		font-size: 16px;
		height: 48px;
	}
}

::placeholder {
	color: #9d90a2;
}

.form__submit {
	color: #fff;
	width: 100%;
	background: #8b50e8;
	height: 52px;
	border-radius: 16px;
	transition: all 0.15s linear;
}

.form__submit:hover {
	opacity: 0.8;
}

@media screen and (max-height: 375px) {
	.form__submit {
		font-size: 16px;
		height: 48px;
	}
}
